#box1{
				height:200px;
				width:200px;
				border:2px solid red;
				background-color:pink;
				font-family: Papyrus,fantasy;
				font-size: 14px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 20px;
				}